<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html version="-//W3C//DTD XHTML 1.1//EN"
    xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="en"
>
<head>
    <title>fingerecho.cn SPARQL Query Editor</title>
    <meta name="Copyright" content="Copyright &copy; 2019 OpenLink Software && fingerecho.cn" />
    <meta name="Keywords" content="OpenLink Sparql" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<style type="text/css">
/*<![CDATA[*/
html { padding: 0; }
body {
padding: 0;
margin: 0;
font-family:Arial, Helvetica, sans-serif;
font-size: 9pt;
color: #333;
background-color: #FDFDFD;
}
#header {
padding: 0;
margin: 0;
background-color: #86B9D9;
color: #FFFFFF;
border-bottom: 1px solid #AAA;
}
#header h1 {
font-size: 16pt;
font-weight: normal;
text-align: left;
vertical-align: middle;
padding: 4px 8px 4px 8px;
margin: 0px 0px 0px 0px;
}
#menu {
margin-left: 8px;
margin-right: 8px;
margin-top: 0px;
clear: right;
float: right;
}
#intro,#main {
margin-left: 8px;
margin-right: 8px;
}
#help {
margin-left: 8px;
margin-right: 8px;
width: 80%
}
#footer {
width: 100%;
float: left;
clear: left;
margin: 2em 0 0;
padding-top: 0.7ex;
border-top: 1px solid #AAA;
font-size: 8pt;
text-align: center;
}
fieldset {
border: 0;
padding: 0;
margin: 0;
}
fieldset label {
font-weight: normal;
white-space: nowrap;
font-size: 11pt;
color: #000;
}
fieldset label.n {
display: block;
vertical-align: bottom;
margin-top:5px;
width: 160px;
float:left;
white-space: nowrap;
}
fieldset label.n:after { content: ":"; }
fieldset label.n1 {
display: block;
vertical-align: bottom;
margin-top:5px;
width: 160px;
float:left;
white-space: nowrap;
}
fieldset label.ckb {
width: 160px;
font-weight: normal;
font-size: 10pt;
}
fieldset label.ckb:after { content: ""; }
fieldset textarea {
width: 99%;
font-family: monospace;
font-size: 10pt;
}
#cxml {
clear: both;
display: block;
}
#savefs {
clear: both;
display: block;
}
span.info {
font-size: 9pt;
white-space: nowrap;
height: 2em;
}
br { clear: both; }
/*]]>*/
</style>

    <script type="text/javascript">
    /*<![CDATA[*/
	var timer;
	function format_select(query_obg){
	    clearTimeout(timer);
	    timer = setTimeout (function delay_format_select() {do_format_select(query_obg);}, 1000);
	}

	var curr_format = 0;
	function do_format_select(query_obg)
	{
		var query = query_obg.value;
		var format = query_obg.form.format;
		var prev_value = format.options[format.selectedIndex].value;
		var prev_format = curr_format;
		var ctr = 0;
		var query_is_construct = (query.match(/\bconstruct\b\s/i) || query.match(/\bdescribe\b\s/i));

		if (query_is_construct && curr_format != 2) {
			for(ctr = format.options.length - 1; ctr >= 0; ctr--)
				format.remove(ctr);
			ctr = 0;
			format.options[ctr++] = new Option('Turtle','text/turtle');
			format.options[ctr++] = new Option('Graph','graph/echarts');
			/***
			format.options[ctr++] = new Option('Turtle (beautified)','application/x-nice-turtle');
			format.options[ctr++] = new Option('RDF/JSON','application/rdf+json');
			format.options[ctr++] = new Option('RDF/XML','application/rdf+xml');
			format.options[ctr++] = new Option('N-Triples','text/plain');
			format.options[ctr++] = new Option('XHTML+RDFa','application/xhtml+xml');
			format.options[ctr++] = new Option('ATOM+XML','application/atom+xml');
			format.options[ctr++] = new Option('ODATA/JSON','application/odata+json');
			format.options[ctr++] = new Option('JSON-LD (plain)','application/x-json+ld');
			format.options[ctr++] = new Option('JSON-LD (with context)','application/x-json+ld+ctx');
			format.options[ctr++] = new Option('HTML (list)','text/x-html+ul');
			format.options[ctr++] = new Option('HTML (table)','text/x-html+tr');
			format.options[ctr++] = new Option('HTML+Microdata (basic)','text/html');
			format.options[ctr++] = new Option('HTML+Microdata (table)','application/x-nice-microdata');
			format.options[ctr++] = new Option('HTML+JSON-LD (basic)','text/x-html-script-ld+json');
			format.options[ctr++] = new Option('HTML+Turtle (basic)','text/x-html-script-turtle');
			format.options[ctr++] = new Option('Turtle (beautified - browsing oriented)','text/x-html-nice-turtle');
			format.options[ctr++] = new Option('Microdata/JSON','application/microdata+json');
			format.options[ctr++] = new Option('CSV','text/csv');
			format.options[ctr++] = new Option('TSV','text/tab-separated-values');
			format.options[ctr++] = new Option('TriG','application/x-trig');
			format.options[ctr++] = new Option('CXML (Pivot Collection)','text/cxml');
			***/
		format.options[ctr++] = new Option('CXML (Pivot Collection with QRcodes)','text/cxml+qrcode');
			curr_format = 2;
		}

		if (!query_is_construct && curr_format != 1) {
			for(ctr = format.options.length - 1; ctr >= 0; ctr--)
				format.remove(ctr);
			ctr = 0;
			format.options[ctr++] = new Option('Auto','auto');
			format.options[ctr++] = new Option('Turtle','text/turtle');
			format.options[ctr++] = new Option('Graph','graph/echarts');
			/**
			format.options[ctr++] = new Option('HTML','text/html');
			format.options[ctr++] = new Option('HTML (Faceted Browsing Links)','text/x-html+tr');
			format.options[ctr++] = new Option('Spreadsheet','application/vnd.ms-excel');
			format.options[ctr++] = new Option('XML','application/sparql-results+xml');
			format.options[ctr++] = new Option('JSON','application/sparql-results+json');
			format.options[ctr++] = new Option('Javascript','application/javascript');
			format.options[ctr++] = new Option('Turtle','text/turtle');
			format.options[ctr++] = new Option('RDF/XML','application/rdf+xml');
			format.options[ctr++] = new Option('N-Triples','text/plain');
			format.options[ctr++] = new Option('CSV','text/csv');
			format.options[ctr++] = new Option('TSV','text/tab-separated-values');
			format.options[ctr++] = new Option('CXML (Pivot Collection)','text/cxml');
			**/
		format.options[ctr++] = new Option('CXML (Pivot Collection with QRcodes)','text/cxml+qrcode');
			curr_format = 1;
		}
		if (prev_format != curr_format)
			for(ctr = format.options.length - 1, format.selectedIndex=0; ctr >= 0; ctr--)
				if (format.options[ctr].value == prev_value) format.selectedIndex = ctr;
	}

function format_change(e)
{
var format = e.value;
var cxml = document.getElementById("cxml");
if (!cxml) return;
if ((format.match (/\bCXML\b/i)))
{
cxml.style.display="block";
} else {
cxml.style.display="none";
}
}
function savedav_change(e)
{
var savefs = document.getElementById("savefs");
if (!savefs) return;
if (e.checked)
{
savefs.style.display = "block";
}
else
{
savefs.style.display = "none";
}
}
function change_run_button(e)
{
var button = document.getElementById("run");
var lbl;

if (!button) return;

if (e.checked)
{
lbl = " Explain ";
}
else
{
lbl = " Run Query ";
}

if (button)
{
if (button.childNodes[0])
{
button.childNodes[0].nodeValue=lbl;
}
else if (button.value)
{
button.value=lbl;
}
else //if (button.innerHTML)
{
button.innerHTML=lbl;
}
}
}
function sparql_endpoint_init()
{
var format = document.getElementById("format");
if (format) format_change(format);
var savefs = document.getElementById("savefs");
if (savefs)
{
var save = document.getElementById("save");
if (save)
savedav_change(save);
}
var b = document.getElementById("explain");
if (b) change_run_button(b);
}
    /*]]>*/
    </script>
</head>
<body onload="sparql_endpoint_init()">
    <div id="header">
	<h1>Fingerecho SPARQL Query Editor</h1>
    </div>

    <div id="menu">
<!--	  <a href="/sparql?help=intro">About</a>
	| <a href="/sparql?help=nsdecl">Namespace Prefixes</a>
	| <a href="/sparql?help=rdfinf">Inference rules</a>
	| <a href="/sparql?help=views">RDF views</a>
	| <a href="/isparql">iSPARQL</a>
	-->
    </div>

    <div id="main">
    <br />
	<form action="" method="get">
	<fieldset>
		<label for="default-graph-uri">Default Data Set Name (Graph IRI)</label><br />
		<input type="text" name="default-graph-uri" id="default-graph-uri" value="http://dbpedia.org" size="80"/>
		<br /><br />
		<label for="query">Query Text</label><br />
		<!--select distinct ?Concept where {[] a ?Concept} LIMIT 100 -->
             <textarea rows="18" cols="80" name="query" id="query" onchange="javascript:format_select(this)" onkeyup="javascript:format_select(this)">
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
prefix urn: <http://fliqz.com/>

select * where { ?id ?p ?s}
			 </textarea>
		<br /><br />
		<span class="info"><i>(Security restrictions of this server do not allow you to retrieve remote RDF data, see <a href="/sparql?help=enable_sponge">details</a>.)</i></span>
		<br />
		<label for="format" class="n">Results Format</label>
		<select name="format" id="format" onchange="javascript:format_change(this)">
			<option value="auto" >Auto</option>
			<option value="text/turtle" >Turtle</option>
			<option value="graph/echarts" >Graph</option>
			<!--
			<option value="text/html" selected="selected">HTML</option>
			<option value="text/x-html+tr" >HTML (Faceted Browsing Links)</option>
			<option value="application/vnd.ms-excel" >Spreadsheet</option>
			<option value="application/sparql-results+xml" >XML</option>
			<option value="application/sparql-results+json" >JSON</option>
			<option value="application/javascript" >Javascript</option>
			<option value="text/turtle" >Turtle</option>
			<option value="application/rdf+xml" >RDF/XML</option>
			<option value="text/plain" >N-Triples</option>
			<option value="text/csv" >CSV</option>
			<option value="text/tab-separated-values" >TSV</option>
			<option value="text/cxml" >CXML (Pivot Collection)</option>
			<option value="text/cxml+qrcode" >CXML (Pivot Collection with QRcodes)</option>
			-->
		</select>
		<br />
		<fieldset id="cxml">
		<label for="CXML_redir_for_subjs" class="n">External resource link</label>
		<select name="CXML_redir_for_subjs" id="CXML_redir_for_subjs">
			<option value="" >No link out</option>
			<option value="121" selected="selected">External resource link</option>
			<option value="DESCRIBE" >External description link</option>
			<option value="ABOUT_RDF" >External sponged data link (RDF)</option>
			<option value="ABOUT_HTML" >External sponged data link (HTML)</option>
			<option value="LOCAL_TTL" >External description resource (TTL)</option>
			<option value="LOCAL_NTRIPLES" >External description resource (NTRIPLES)</option>
			<option value="LOCAL_JSON" >External description resource (JSON)</option>
			<option value="LOCAL_XML" >External description resource (RDF/XML)</option>
		</select><br />
		<label for="CXML_redir_for_hrefs" class="n">Facet link behavior</label>
		<select name="CXML_redir_for_hrefs" id="CXML_redir_for_hrefs">
			<option value="" selected="selected">Local faceted navigation link</option>
			<option value="121" >External resource link</option>
			<option value="DESCRIBE" >External description link</option>
			<option value="ABOUT_RDF" >External sponged data link (RDF)</option>
			<option value="ABOUT_HTML" >External sponged data link (HTML)</option>
			<option value="LOCAL_TTL" >External description resource (TTL)</option>
			<option value="LOCAL_CXML" >External description resource (CXML)</option>
			<option value="LOCAL_NTRIPLES" >External description resource (NTRIPLES)</option>
			<option value="LOCAL_JSON" >External description resource (JSON)</option>
			<option value="LOCAL_XML" >External description resource (RDFXML)</option>
		</select><br />
		</fieldset>
		<label for="timeout" class="n">Execution timeout</label>
             <input name="timeout" id="timeout" type="text" value="30000" /> milliseconds
		<span class="info"><i>(values less than 1000 are ignored)</i></span>		<br />
		<label class="n" for="options">Options</label>
		<fieldset id="options">
		<input name="debug" id="debug" type="checkbox" checked="checked"/>
		<label for="debug" class="ckb">Strict checking of void variables</label>
		<br />
		<input name="log_debug_info" id="log_debug_info" type="checkbox"/>
		<label for="log_debug_info" class="ckb">Log debug info at the end of output (has no effect on some queries and output formats)</label>
		<br />
		<input name="explain" id="explain" onclick="javascript:change_run_button(this)" type="checkbox"/>
		<label for="explain" class="ckb">Generate SPARQL compilation report (instead of executing the query)</label>
		</fieldset>
		<br />
		<span class="info"><i>(The result can only be sent back to browser, not saved on the server, see <a href="/sparql?help=enable_det">details</a>)</i></span>
		<br />
		<br />
		<input type="submit" name="run" id="run" value="Go"/>
		<input type="reset" value="Reset"/>
	</fieldset>
	</form>
    </div>

    <div id="footer">
	<!--Copyright &copy; 2019 <a href="http://www.openlinksw.com/virtuoso">OpenLink Software</a><br />Virtuoso version 07.20.3232 on Linux (x86_64-generic-linux-glibc25), Single Server Edition
    --></div>
    <div xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
         xmlns="http://www.w3.org/1999/xhtml"
         xmlns:sd="http://www.w3.org/ns/sparql-service-description#"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
         style="display:none">
       <div class="description" about="" typeof="sd:Service">
          <div rel="sd:endpoint" resource="http://dbpedia.org/sparql"/>
          <div rel="sd:feature"
               resource="http://www.w3.org/ns/sparql-service-description#UnionDefaultGraph"/>
          <div rel="sd:feature"
               resource="http://www.w3.org/ns/sparql-service-description#DereferencesURIs"/>
          <div rel="sd:resultFormat" resource="http://www.w3.org/ns/formats/RDF_XML"/>
          <div rel="sd:resultFormat" resource="http://www.w3.org/ns/formats/Turtle"/>
          <div rel="sd:resultFormat"
               resource="http://www.w3.org/ns/formats/SPARQL_Results_CSV"/>
          <div rel="sd:resultFormat" resource="http://www.w3.org/ns/formats/N-Triples"/>
          <div rel="sd:resultFormat" resource="http://www.w3.org/ns/formats/N3"/>
          <div rel="sd:resultFormat"
               resource="http://www.w3.org/ns/formats/SPARQL_Results_JSON"/>
          <div rel="sd:resultFormat" resource="http://www.w3.org/ns/formats/RDFa"/>
          <div rel="sd:resultFormat"
               resource="http://www.w3.org/ns/formats/SPARQL_Results_XML"/>
          <div rel="sd:supportedLanguage"
               resource="http://www.w3.org/ns/sparql-service-description#SPARQL10Query"/>
          <div rel="sd:url" resource="http://dbpedia.org/sparql"/>
       </div>
    </div>
</body>
</html>
